@using Microsoft.AspNetCore.Mvc.RazorPages
@{
    bool isNotLoginOrRegister = true;
    PageActionDescriptor? pageDescriptor = ViewContext.ActionDescriptor as PageActionDescriptor;
    if(pageDescriptor?.ViewEnginePath == "/Account/Login" || pageDescriptor?.ViewEnginePath == "/Account/Register" || pageDescriptor?.ViewEnginePath == "/Account/Logout" || pageDescriptor?.ViewEnginePath == "/ServiceUnavailable")
    {
        isNotLoginOrRegister = false;
    }
}

@if(isNotLoginOrRegister)
{
    <li class="nav-item ms-auto"><a class="nav-link text-white" asp-page="/Account/Logout">Logout</a></li>
}